/******************
******COLORS******
******************/
/********************************************** 
*********************Mixins********************
**********************************************/
/**************************************
*****************FONTS*****************
**************************************/
/********************************************* 
****************fonts & colors**************** 
*********************************************/
html {
  height: 100%; }

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 137%;
  font-weight: 400;
  color: #f8f9fa;
  background-color: #869ca9;
  height: 100%; }

h1 {
  font-family: "Didact Gothic", serif;
  font-size: 40px;
  color: #f8f9fa;
  width: 100%;
  margin: 25px auto;
  text-align: center; }

h2 {
  font-family: "Didact Gothic", serif;
  color: #f8f9fa; }

a {
  font-family: "Didact Gothic", serif;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  color: #60ece8; }
  a:hover {
    color: #f8f9fa;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }

/******************
******COLORS******
******************/
/********************************************** 
*********************Mixins********************
**********************************************/
/**************************************
*****************FONTS*****************
**************************************/
/********************************************* 
****************fonts & colors**************** 
*********************************************/
html {
  height: 100%; }

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 137%;
  font-weight: 400;
  color: #f8f9fa;
  background-color: #869ca9;
  height: 100%; }

h1 {
  font-family: "Didact Gothic", serif;
  font-size: 40px;
  color: #f8f9fa;
  width: 100%;
  margin: 25px auto;
  text-align: center; }

h2 {
  font-family: "Didact Gothic", serif;
  color: #f8f9fa; }

a {
  font-family: "Didact Gothic", serif;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  color: #60ece8; }
  a:hover {
    color: #f8f9fa;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }

/***************
****wrapper****
***************/
.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 60px 1fr auto; }

/***************
****header****
***************/
.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px;
  background: #323334; }

.logo {
  grid-column: 1;
  grid-row: 1;
  margin-left: 4%;
  margin-top: .9%;
  width: 70px; }

.menu {
  grid-column: -2 / -1;
  grid-row: 1;
  text-align: right;
  align-items: center; }

/***************
****content****
***************/
.content {
  margin: 0px 15px 80px 15px;
  grid-row: 3 / -2;
  grid-column: 4 / 10;
  align-items: end; }
  @media (max-width: 767px) {
    .content {
      grid-column: 1 / -1; } }
  .content .header-title {
    text-align: center;
    font-family: "Didact Gothic", serif;
    font-size: 40px;
    margin-bottom: 8%; }

/***************
*****footer*****
***************/
.footer {
  grid-column: 1 / -1;
  grid-row: -2 / -1;
  background: #323334; }
  .footer nav {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto; }
    .footer nav ul {
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(3, minmax(120px, 1fr));
      justify-items: center;
      align-items: center;
      grid-template-rows: auto; }
      @media (max-width: 420px) {
        .footer nav ul {
          grid-template-columns: repeat(1, minmax(120px, 1fr)); } }
      .footer nav ul img {
        padding: 10px 0px; }

/******************
******COLORS******
******************/
/********************************************** 
*********************Mixins********************
**********************************************/
/**************************************
*****************FONTS*****************
**************************************/
/********************************************* 
****************fonts & colors**************** 
*********************************************/
html {
  height: 100%; }

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 137%;
  font-weight: 400;
  color: #f8f9fa;
  background-color: #869ca9;
  height: 100%; }

h1 {
  font-family: "Didact Gothic", serif;
  font-size: 40px;
  color: #f8f9fa;
  width: 100%;
  margin: 25px auto;
  text-align: center; }

h2 {
  font-family: "Didact Gothic", serif;
  color: #f8f9fa; }

a {
  font-family: "Didact Gothic", serif;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  color: #60ece8; }
  a:hover {
    color: #f8f9fa;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }

/*****************
******button******  
*****************/
#mobile-menu-button {
  background-color: #f8f9fa;
  margin: 10%;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  border: 10px solid #6df557;
  outline: none;
  transition: all 0.2s cubic-bezier(0, 1.26, 0.8, 1.28); }
  @media (min-width: 768px) {
    #mobile-menu-button {
      display: none; } }

#mobile-menu-button div {
  width: 30px;
  height: 4px;
  background-color: #6df557;
  margin: 4px -6px; }

/***************************
*******slide-out-menu*******
***************************/
@media (max-width: 767px) {
  #slide-out-menu {
    width: 100vw;
    background-color: #323334;
    position: fixed;
    top: -100vh;
    left: 0;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    overflow: scroll;
    z-index: 1000;
    text-align: center;
    font-size: 27px; }
  #slide-out-menu.hide {
    transform: translate3d(0, 0vh, 0); }
  #slide-out-menu.show {
    transform: translate3d(0, 100vh, 0);
    overflow: hidden; }
  #slide-out-menu li {
    margin: 4% auto; } }

@media (min-width: 768px) {
  #slide-out-menu {
    background-color: #323334;
    display: inline-grid;
    font-size: 25px;
    grid-column: -2 / -1;
    grid-row: 1;
    align-items: center; }
    #slide-out-menu ul {
      margin-top: 5%;
      grid-column: -2 / -1;
      grid-row: 1;
      grid-template-columns: repeat(5, minmax(90px, 1fr));
      justify-items: center;
      align-items: center;
      display: inline-grid; }
      #slide-out-menu ul li {
        margin-right: 15px; } }

/******************
******COLORS******
******************/
/********************************************** 
*********************Mixins********************
**********************************************/
/**************************************
*****************FONTS*****************
**************************************/
/********************************************* 
****************fonts & colors**************** 
*********************************************/
html {
  height: 100%; }

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 137%;
  font-weight: 400;
  color: #f8f9fa;
  background-color: #869ca9;
  height: 100%; }

h1 {
  font-family: "Didact Gothic", serif;
  font-size: 40px;
  color: #f8f9fa;
  width: 100%;
  margin: 25px auto;
  text-align: center; }

h2 {
  font-family: "Didact Gothic", serif;
  color: #f8f9fa; }

a {
  font-family: "Didact Gothic", serif;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  color: #60ece8; }
  a:hover {
    color: #f8f9fa;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }

.skills-content {
  margin: 0px 15px 80px 15px;
  grid-row: 3 / -2;
  grid-column: 3 / 11;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1;
  grid-template-rows: auto auto; }
  @media (max-width: 767px) {
    .skills-content {
      grid-column: 1 / -1; } }
  .skills-content .skills-header-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-family: "Didact Gothic", serif;
    font-size: 40px;
    margin-bottom: 5%; }
  .skills-content .skills-body {
    margin: 0px 15px 80px 15px;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 120px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    justify-items: center; }
    @media (max-width: 767px) {
      .skills-content .skills-body {
        grid-column: 1 / -1; } }
    .skills-content .skills-body .individual-skill {
      text-align: center;
      display: grid;
      grid-template-rows: 140px 60px auto;
      justify-items: center; }
      .skills-content .skills-body .individual-skill h2 {
        font-size: 30px; }
      .skills-content .skills-body .individual-skill svg {
        height: 35%;
        width: 35%; }

#root {
  height: 100%; }

/**********************
*******Container*******
**********************/
.app {
  background-image: url("../assets/images/me_smokey.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  width: 100%; }

.logo-6 {
  background-image: url("../assets/images/logos/5.png");
  background-repeat: no-repeat;
  margin: auto;
  width: 70px;
  height: 70px;
  background-size: cover; }
