@import "../scss/_config.scss";
@import "../scss/css_grid.scss";
@import "../scss/menu.scss";
@import "../scss/skills.scss";

/**********************
*******Container*******
**********************/
// container
.app {
  background-image: url('../assets/images/background/me_smokey.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  width: 100%;
}

.logo-6 {
  background-image: url("../assets/images/logos/ryanpaixao_logo.png");
  background-repeat: no-repeat;
  margin: auto;
  width: 70px;
  height: 70px;
  background-size: cover;
}


