@import "_config.scss";
@import "css_grid.scss";
@import "menu.scss";
@import "skills.scss";

// root
#root {
  height: 100%;
}

/**********************
*******Container*******
**********************/
// container
.app {
  background-image: url('../assets/images/me_smokey.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  width: 100%;
}

.logo-6 {
  background-image: url("../assets/images/logos/5.png");
  background-repeat: no-repeat;
  margin: auto;
  width: 70px;
  height: 70px;
  background-size: cover;
}


