/******************
******COLORS******
******************/
/********************************************** 
*********************Mixins********************
**********************************************/
/**************************************
*****************FONTS*****************
**************************************/
/********************************************* 
****************fonts & colors**************** 
*********************************************/
html {
  height: 100%; }

body {
  font-family: "Alegreya", sans-serif;
  font-size: 20px;
  color: #f8f9fa;
  font-weight: 400;
  font-style: normal;
  background-color: #323334;
  height: 100%; }

h1 {
  font-family: "Nunito", serif;
  color: #f8f9fa; }

h2 {
  font-family: "Nunito", serif;
  color: #f8f9fa; }

a {
  font-family: "Nunito", serif;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  color: #ea7e3a; }
  a:hover {
    color: #f8f9fa;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }

/*********************************************** 
***************Bootstrap overrides************** 
************************************************/
.container-fluid {
  line-height: 24px; }

/******************
******COLORS******
******************/
/********************************************** 
*********************Mixins********************
**********************************************/
/**************************************
*****************FONTS*****************
**************************************/
/********************************************* 
****************fonts & colors**************** 
*********************************************/
html {
  height: 100%; }

body {
  font-family: "Alegreya", sans-serif;
  font-size: 20px;
  color: #f8f9fa;
  font-weight: 400;
  font-style: normal;
  background-color: #323334;
  height: 100%; }

h1 {
  font-family: "Nunito", serif;
  color: #f8f9fa; }

h2 {
  font-family: "Nunito", serif;
  color: #f8f9fa; }

a {
  font-family: "Nunito", serif;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  color: #ea7e3a; }
  a:hover {
    color: #f8f9fa;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }

/*********************************************** 
***************Bootstrap overrides************** 
************************************************/
.container-fluid {
  line-height: 24px; }

/********************
** Declare variables
********************/
/**********************
*********header********
**********************/
header {
  position: fixed;
  display: block;
  width: 100%;
  background: #323334;
  color: #f8f9fa;
  height: 94px;
  z-index: 1; }
  header .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translate-y(-50%);
    -moz-transform: translate-y(-50%);
    transform: translate-y(-50%); }
  header nav,
  header nav ul,
  header nav ul li {
    margin: 0;
    padding: 0; }
  header nav {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate-y(-50%);
    -moz-transform: translate-y(-50%);
    transform: translate-y(-50%); }
    header nav ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px; }
      header nav ul li.last {
        margin: 0; }
      header nav ul li a {
        font-size: 19px;
        line-height: normal;
        color: #AAA8A5; }

#root {
  height: 100%; }

/**********************
*******Container*******
**********************/
.container {
  background-image: url("../assets/images/me_smokey.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 70px;
  height: 100%; }

.route-body {
  margin-top: 94px;
  margin-bottom: 70px;
  height: 100%; }
  .route-body h1 {
    width: 100%;
    margin: 25px auto;
    text-align: center; }
  .route-body h2 {
    text-align: center;
    margin-top: 25px; }
  .route-body p {
    width: 100%;
    margin-top: 25px; }

.logo-1 {
  background-image: url("../assets/images/logo_1.png");
  background-repeat: no-repeat;
  margin-top: 95px;
  margin-left: 20px;
  width: 150px;
  height: 150px; }

.logo-2 {
  background-image: url("../assets/images/logo_2.png");
  background-repeat: no-repeat;
  margin-top: 95px;
  margin-left: 25px;
  width: 200px;
  height: 200px; }

.logo-3 {
  background-image: url("../assets/images/logo_3.png");
  background-repeat: no-repeat;
  margin-top: 95px;
  margin-left: 50px;
  width: 300px;
  height: 300px; }

.logo-4 {
  background-image: url("../assets/images/logo_4.png");
  background-repeat: no-repeat;
  margin-top: 95px;
  margin-left: 50px;
  width: 500px;
  height: 500px; }

.logo-5 {
  background-image: url("../assets/images/logo_5.png");
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-left: 20px;
  width: 90px;
  height: 90px; }
  @media (max-width: 575px) {
    .logo-5 {
      background-image: none; } }

/**********************
*********footer********
**********************/
footer {
  position: fixed;
  display: block;
  width: 100%;
  background: #323334;
  color: #f8f9fa;
  height: 70px;
  bottom: 0; }
  footer nav,
  footer nav ul,
  footer nav ul li {
    margin: 0;
    padding: 0; }
  footer nav {
    text-align: center;
    margin: 6px; }
    footer nav ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px; }
      footer nav ul li.last {
        margin: 0; }
