@import "_config.scss";

$headerHeight: 80px;

/***************
****wrapper****
***************/
.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: $headerHeight 1fr auto;
  align-items: center;
}

/***************
****header****
***************/
.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: $headerHeight;

  background: $headerColor;
}
.logo {
  grid-column: 1;
  grid-row: 1;

  margin-left: 20px;
  margin-top: .9%;
  width: 70px;
}
.nav-menu {
  grid-column: -2 / -1;
  grid-row: 1;

  text-align: right;
  align-items: center;
}

/***************
****content****
***************/
.content-router {
  // margin: 0px 15px 100px 15px;
  display: inherit;
  grid-row: 2 / -2;
  grid-column: 1 / -1; 
  grid-template-columns: repeat(12, 1fr); // repeat(12, 1fr); // inherit;
  align-items: center;

  @media (max-width: 767px) {
    grid-column: 2 / -2;
  }
}

.standard-content {
  grid-column: 4 / 10; 
  grid-template-columns: inherit;
  align-items: center;

  @media (max-width: 767px) {
    grid-column: 2 / -2;
  }

  .header-title {
    text-align: center;
    font-family: $headerFont;
    margin-bottom: 8%;
  }

  .text-body {
    margin-top: 13%;
    margin-bottom: 18%;

    grid-column: 2 / -3;
    display: grid;
    align-items: center;
  }
}

/***************
*****footer*****
***************/
.footer {
  grid-column: 1 / -1;
  grid-row: -2 / -1;

  background: $headerColor;

  nav {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    ul {
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(4, minmax(120px, 1fr));
      @media (max-width: 499px) {
        grid-template-columns: repeat(2, minmax(120px, 1fr));
      }
      justify-items: center;
      align-items: center;
      grid-template-rows: auto;

      img {
        padding: 10px 0px;
      }
    }
  }
}

