@import "_config.scss";

$headerHeight: 80px;

/***************
****wrapper****
***************/
.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: $headerHeight 60px 1fr auto;
}

/***************
****header****
***************/
.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: $headerHeight;

  background: $headerColor;
}
.logo {
  grid-column: 1;
  grid-row: 1;

  margin-left: 4%;
  margin-top: .9%;
  width: 70px;
}
.menu {
  grid-column: -2 / -1;
  grid-row: 1;

  text-align: right;
  align-items: center;
}

/***************
****content****
***************/
.content {
  margin: 0px 15px 80px 15px;
  grid-row: 3 / -2;
  grid-column: 4 / 10; 
  align-items: end;

  @media (max-width: 767px) {
    grid-column: 1 / -1;
  }

  .header-title {
    text-align: center;
    font-family: $headerFont;
    font-size: $h1fontSize;
    margin-bottom: 8%;
  }
}

/***************
*****footer*****
***************/
.footer {
  grid-column: 1 / -1;
  grid-row: -2 / -1;

  background: $headerColor;

  nav {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    ul {
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(3, minmax(120px, 1fr));
      @media (max-width: 420px) {
        grid-template-columns: repeat(1, minmax(120px, 1fr));
      }
      justify-items: center;
      align-items: center;
      grid-template-rows: auto;

      img {
        padding: 10px 0px;
      }
    }
  }
}

