@import "_config.scss";

.projects-content {
  margin: 60px 15px 80px 15px;
  grid-column: 3 / 11; 
  grid-template-columns: inherit;
  align-items: center;

  @media (max-width: 767px) {
    grid-column: 2 / -2;
  }
}

.individual-project {
  margin-top: 3.6%;
  margin-bottom: 10%;
  text-align: center;

  h2 {
    color: $attentionColor;
    margin-bottom: 30px;
  }

  p {
    text-align: left;

    @media (min-width: 768px) {
      margin: 0 10%;
    }
  }

  p.note {
    // color: red;
    font-style: italic;
    font-size: 16px;
    margin: 0 5%;
    word-wrap: break-word;

    @media (min-width: 768px) {
      font-size: 18px;
      margin: 0 15%;
    }
  }

  .project-img {
    z-index: 1000;
    margin: 5% auto;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
